{% extends 'base.html' %}
{% load static %} {% load crispy_forms_tags %}
{% block title %}
{% endblock %}
{% block content %} 
<center> 
<h2>{{ video.title }}</h2>
<video width="320" height="240" controls>
  <source src={{ video_path }} type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>
<p>{{ video.description }}</p>

<h3> Comments </h3>
<form action = '/comment' class="form" method="post" >
    {% csrf_token %} {{ form|crispy }}
    <input type='hidden' name='video' value = '{{video.pk}}'>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div 'comment-container'>
{% for comment in comments %}
<div class = 'comment'>
<p>{{comment.text}}</p>
</div> 
{% empty %}
<h4> There are no comments yet. </h4>
{% endfor %}
</div> 
</center> 
{% endblock %}