* {
    box-sizing: border-box;
    padding: 0;
    margin-left: 0;
    font-family: var(--default-font-family);
    color: var(--defaultText);
}

body {
    padding: 4em;
}

.logo {
    width: 200px;
    align-content: center;
    padding: 1rem;
    flex-basis: 1;
}

.logo-container {
    flex-flow: row;
    align-content: center;
    justify-content: center;
}

:root {
    --link-color: #fff;
    --link-hover: red;
    --link-active: red;
    --minilink: #fff;
    --minilink-hover: red;
    --card-text-color: #fff;
    --text-color: #fff;
    /* Fonts  */
    /* --defaultFont: "Helvetica", sans-serif; */
    --navLinks: "Helvetica", sans-serif;
    --default-font-weight: font-weight: 400;
    --default-font-family: 'Archivo', sans-serif;
}

form {
    padding: 2rem;
    margin: 2rem;
    align-items: left;
}

form input[type=text] {
    text-align: left;
}


/* h1 {
    color: red;
}

.site_title {
    font-family: "Archivo Black", sans-serif;
}
/* 



/* .comment-container {
    display: flex;
    flex-flow: column nowrap;
}

.comment {
    align-content: left;
}

.comment-body {
    font-size: 70%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.comment-date {
    font-size: 50%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */