[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-heroku = "*"
gunicorn = "*"
django-crispy-forms = "*"
python-slugify = "*"
bootstrap3 = "*"
bootstrap-icons = "*"

[requires]
python_version = "3.8"
