{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block title %} {% endblock %} {% block content %}
<center>



    <img src=''></img>
    <h2>{{ image.title }}</h2>

    <h3> Comments </h3>
    <form action='/comment' class="form" method="post">
        {% csrf_token %} {{ form | crispy }}
        <input type='hidden' name='image' value='{{image.pk}}'>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div 'comment-container'>
        {% for comment in comments %}
        <div class='comment'>
            <p class='comment-body'>{{comment.text}}</p>
            <p class='comment-date'>User: {{comment.user}} | Date and Time: {{comment.datetime}}</p>




        </div>
        {% empty %}
        <h4> There are no comments yet. </h4>
        {% endfor %}
    </div>
</center>
{% endblock %}